{% extends 'core/base.html' %}
{% load static %}


{% block content %}



<div class="alert alert-success" role="alert">
  Todos los Posts con la categoría: <strong>{{ category }}</strong>
</div>


<!-- primer post -->

{% for post in category.get_posts.all %}

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-5">
          <img style="width: 300; height: 200;" src="{{ post.image.url }}" class="img-fluid" alt={{ post.title }}>
        </div>
        <div class="col-md-7">
          <div class="card-body">
            <strong class="d-inline-block mb-2 text-primary">{{ post.category }}</strong>
            <h4 class="mb-0">{{ post.title }}</h4>
            <div class="mb-1 text-muted">{{ post.created|date:'d M Y'}}</div>
            <p class="card-text mb-auto">{{ post.excerpt }}</p>
            <p class="card-text"><small class="text-muted"><a href={% url 'post' post.id %} class="stretched-link">Seguir
                  leyendo</a></small></p>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="alert alert-warning" role="alert">
        Aun no hay Post, relacionados a la categoria : <strong>{{ category }}</strong>
      </div>
{% endfor %}

<hr>

{% if request.path != "/" %}
<div class="my-3">
  <a class="btn btn-primary rounded-pill" href={% url 'home' %}>Volver al Inicio</a>
</div>
{% endif %}

</div>

{% endblock %}